:root {
    --gek-sky:#25A8B1;
    --gek-forest:#0E4F3E;
    --gek-sap:#F3B61F;
    --gek-cream:#F6F2E8;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:#111;
    color: #eee;
    line-height: 1.5;
}

header {
    background:#1e1e1e;
    min-height: 20vh;
    display: flex ;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

figure {
    margin:0;
    width: min(100vw, 1860px);
}

figcaption {
    margin-top: 1rem;
    text-align: center;
    font-size: clamp(1.5rem, 1.5vw, 1.25rem);
    opacity: .9;
}

/* El propio SVG */
#Bandera {
    display: block;
    width: 33%;
    height: auto;
    border-radius: 12px;
    border: #F3B61F 1px solid;
    box-shadow: 10px 20px 30px rgba(0, 0, 120, .5);
}

#infoDemografia{
    display: flex;
    justify-content: center;
    align-items: center
}
